<form name="Form1">
  <!--- Header -->

  <table id="Table1" width="100%">
    <tbody>
      <tr>
        <td width="100%">
          <table width="100%" align="left" id="Table2">
            <tbody>
              <tr>
                <td width="284" align="right">
                  <div align="center">
                    <img id="PageHeader2_Image1" src="assets/IMAGES/fabindia_logo.jpg" border="0" />
                  </div>
                </td>
                <td align="center" style="line-height:10px; padding-top:10px; padding-bottom:2px">
                  <span id="PageHeader1_lblStoreInfo">
                    <span id="PageHeader2_lblStoreInfo" style="height:21px;">
                      <span class="addressLine1">Fabindia Overseas Pvt.
                        Ltd.</span>
                      <span class="addressLine2">
                        <br> C-40, Okhla Industrial Area, Phase - II, <br> New Delhi, Delhi - 110020,India.</span>
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="2">
                  <table border="1" width="100%">
                    <tr>
                      <td width=10></td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button routerLinkActive="active" routerLink="home" class="dropbtn">Home (FC4)</button>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Product</button>
                          <div class="dropdown-content">
                            <table cellspacing="0" cellpadding="0" id="nav_table" width="207">
                              <tbody>
                                <tr>
                                  <td class="second">
                                    <!-- <a href="RptProductList.aspx" class="linknor_dropdown1">Product List </a> -->
                                    <!-- <a routerLinkActive="active" routerLink="filter" class="linknor_dropdown1">Product List </a> -->
                                    <a [routerLink]="['/filter', '225']" class="linknor_dropdown1">Product List </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptCostingReport.aspx" class="linknor_dropdown1">Costing Report </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptVatRate.aspx" class="linknor_dropdown1">SKU VAT Rate</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptPHMSF.aspx" class="linknor_dropdownIntermediate">MSF Report</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptPHMSF_Testing.aspx" class="linknor_dropdown1">MSF Report Testing</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptAdvanceOrderingReport.aspx" class="linknor_dropdown1">Advance Ordering
                                      Report</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptADOSKUConsolidated.aspx" class="linknor_dropdown1">ADO SKU
                                      Consolidated</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptADOTargetVsPush.aspx" class="linknor_dropdown1">ADO Target vs Push</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RPTDL.aspx" class="linknor_dropdown1">Distribution List </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptDeptWiseStatus.aspx" class="linknor_dropdown1">SKU Status - Dept Wise
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RPTBOMSKU.aspx" class="linknor_dropdown1">BOM Consumption SKU </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptDeactivationAnalysis.aspx" class="linknor_dropdown1">Deactivation
                                      Analysis </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptMaster.aspx" class="linknor_dropdown1">Master Report </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptISQMasterReport.aspx" class="linknor_dropdown1">ISQ Master Report</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">
                                    <a href="RptHierarchyMaster.aspx" class="linknor_dropdown1">Hierarchy Master</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Sales and Stock I</button>
                          <div class="dropdown-content">
                            <table cellspacing="0" cellpadding="0" id="nav_table" width="342">
                              <tbody>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSaleThrough.aspx"
                                      class="linknor_dropdownIntermediate">Sell Through</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSaleThroughMonthWise.aspx"
                                      class="linknor_dropdownIntermediate">Sell Through Month - Wise</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTStoreSaleSummary.aspx"
                                      class="linknor_dropdown1">Store Sale Summary</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptRetailReturnReport.aspx"
                                      class="linknor_dropdown1">Retail Return Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptDuplicateInvoiceReport.aspx"
                                      class="linknor_dropdown1">Duplicate Invoice Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStockOutReport.aspx"
                                      class="linknor_dropdownIntermediate">Stock Out Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStockInTransit.aspx"
                                      class="linknor_dropdown1">Stock In Transit - As on Date</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSKUSaleandStockMR.aspx"
                                      class="linknor_dropdownIntermediate">SKU Sale and Stock for MR</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSKUSaleandStockStores.aspx"
                                      class="linknor_dropdownIntermediate">SKU Sale and Stock -Stores</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSKUCurrentStockSaleMRStore.aspx"
                                      class="linknor_dropdown1">SKU Current Stock and Sale - MR/Store</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptHierarchyWiseSaleStock.aspx"
                                      class="linknor_dropdownIntermediate">Hierarchy Wise Sale And Stock</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptCategorySaleGrowthandStockStore.aspx"
                                      class="linknor_dropdownIntermediate">Category Sale Growth and Stock - Store</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptCategorySaleGrowthandStockMR.aspx"
                                      class="linknor_dropdownIntermediate">Category Sale Growth and Stock - MR</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptDeptWiseSale.aspx" class="linknor_dropdown1">Dept
                                      Wise Sale - Company/Store</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStatusWiseStock.aspx"
                                      class="linknor_dropdown1">SKU Status wise Stock - Dept</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStockBreakupByFormat.aspx"
                                      class="linknor_dropdownIntermediate">Stock Breakup by Format</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptBestWorstSeller.aspx"
                                      class="linknor_dropdownIntermediate">Best Seller</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTDuplidateInvoiceDetails.aspx"
                                      class="linknor_dropdown1">Duplicate Invoice Detail</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSaleThroughMonthStoreWise.aspx"
                                      class="linknor_dropdownIntermediate">Sell Through Month Store - Wise</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTReturnDetail.aspx"
                                      class="linknor_dropdown1">Return Detail</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Sales and Stock II </button>
                          <div class="dropdown-content">
                            <table cellspacing="0" cellpadding="0" id="nav_table" width="360">
                              <tbody>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSWTPendingRepair.aspx"
                                      class="linknor_dropdownIntermediate">SWT &amp; Pending Repair Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSKuWiseSaleCurrentMonth.aspx"
                                      class="linknor_dropdown1">SKU Wise Sale - Current Month</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStoreWiseNetSaleStoreCompany.aspx"
                                      class="linknor_dropdown1">Store Wise Net Sale Store/Company</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptIntraRegionStockTransfersofISQ.aspx"
                                      class="linknor_dropdown1">Intra Region Stock Transfers of ISQ </a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptDailySaleReport.aspx"
                                      class="linknor_dropdown1">Daily Sale Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptCategorySaleandStockCompany.aspx"
                                      class="linknor_dropdownIntermediate">Category wise Sale and Stock - Company</a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptYearlySaleGrowth.aspx"
                                      class="linknor_dropdownIntermediate">Yearly Sale Growth</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptMonthlySaleGrowthDept.aspx"
                                      class="linknor_dropdownIntermediate">Monthly Sale Growth - Dept Wise</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTSalesVsTargetNoOfMonthsStockStore.aspx"
                                      class="linknor_dropdownIntermediate">Sale Target Vs Actual - Month</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSaleVSActual.aspx"
                                      class="linknor_dropdownIntermediate">Sale Target Vs Actual - Store</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSalesVsTargetCompany.aspx"
                                      class="linknor_dropdownIntermediate">Sales Vs Target - Company</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTMidMonthSaleTarget.aspx"
                                      class="linknor_dropdownIntermediate">Mid Month Dept. Sales Vs Target</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptFlashSalesBudgetVsAchievementCompany.aspx"
                                      class="linknor_dropdownIntermediate">Sales - Budget Vs Achieved -Company</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStockTracker.aspx"
                                      class="linknor_dropdownIntermediate">Stock Tracker - Company</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStockTrackerStores.aspx"
                                      class="linknor_dropdownIntermediate">Stock Tracker By OrgUnits</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Transactions</button>
                          <div class="dropdown-content">
                            <table cellspacing="0" cellpadding="0" id="nav_table" width="270">
                              <tbody>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptBusinessASR.aspx"
                                      class="linknor_dropdownIntermediate">ASR Business</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStoreASR.aspx"
                                      class="linknor_dropdownIntermediate">ASR By OrgUnits</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptTO.aspx" class="linknor_dropdown1">Transfer
                                      Out</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptTOByFormat.aspx"
                                      class="linknor_dropdown1">Transfer Out Diff. Format</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptTI.aspx" class="linknor_dropdown1">Transfer
                                      In</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptTOTIReconcilationReport.aspx"
                                      class="linknor_dropdown1">TO/TI Reconciliation</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSA.aspx" class="linknor_dropdown1">Stock
                                      Adjustment</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptMRWsStock.aspx" class="linknor_dropdown1">MRWs
                                      Stock</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptDeptWiseSKUConsumption.aspx"
                                      class="linknor_dropdown1">SKU Consumption - Dept Wise</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptOrderBreakDeptWise.aspx"
                                      class="linknor_dropdown1">Order Break UP - Dept Wise</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptISQOrderInfo.aspx" class="linknor_dropdown1">Last
                                      ISQ Order Info</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptStoreWallet.aspx" class="linknor_dropdown1">Store
                                      Wallet</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptPOSSaleCredit.aspx"
                                      class="linknor_dropdown1">Employee Sale Credit</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptGetAllDiscountValueDetails.aspx"
                                      class="linknor_dropdown1">SKU Discount Report - MR/Store</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptTaxPercentWise.aspx"
                                      class="linknor_dropdownIntermediate">Tax Percent Wise Transactions</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptFootFallConversion.aspx"
                                      class="linknor_dropdown1">Footfall Conversion Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSITTaxBreakUP.aspx" class="linknor_dropdown1">SIT
                                      Tax Breakup</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptPCInvoiceDetails.aspx"
                                      class="linknor_dropdown1">PC Invoice Details</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptPaymentCollectionReport.aspx"
                                      class="linknor_dropdown1">Payment Collection Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTB2COnlineSaleReport.aspx"
                                      class="linknor_dropdown1">B2C Online Sale Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptGVReconcilationReportPC.aspx"
                                      class="linknor_dropdown1">GV Reconciliation PC Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTExchangeReport.aspx"
                                      class="linknor_dropdown1">Exchange Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptCustomerDataCapture.aspx"
                                      class="linknor_dropdown1">Customer Data Capture</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptGVReconcilationReport.aspx"
                                      class="linknor_dropdown1">GV Reconciliation Report</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">PH / Store</button>
                          <div class="dropdown-content">
                            <table cellspacing="0" cellpadding="0" id="nav_table" width="297">
                              <tbody>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptProcGetPurchaseOrder.aspx"
                                      class="linknor_dropdown1">Purchase Order Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptProcGetGoodsReceipt.aspx"
                                      class="linknor_dropdown1">Goods Receipt Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptProcGetGoodsReturned.aspx"
                                      class="linknor_dropdown1">Goods Return Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptPHTransferOut.aspx" class="linknor_dropdown1">PH
                                      Transfer Out</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptPHTOConsolidated.aspx"
                                      class="linknor_dropdown1">PH TO Consolidated</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptOFRDeptConsolidated.aspx"
                                      class="linknor_dropdownIntermediate">OFR Dept - PH Consolidated</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptOFRDept.aspx"
                                      class="linknor_dropdownIntermediate">OFR PH - Dept Wise</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptOFRDeptJWDP.aspx"
                                      class="linknor_dropdownIntermediate">OFR PH-Dept Wise [JW,DP]</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptOFRStore.aspx"
                                      class="linknor_dropdownIntermediate">OFR Store</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptOFRSKU.aspx"
                                      class="linknor_dropdownIntermediate">OFR SKU</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSRCPurchaseReport.aspx"
                                      class="linknor_dropdown1">JW+DP Purchase Summary (Dept)</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSRCOrder.aspx" class="linknor_dropdown1">TR
                                      Summary (Dept)</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptSRCQOH.aspx"
                                      class="linknor_dropdownIntermediate">PH QOH</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptIDSOrderableQty.aspx"
                                      class="linknor_dropdown1">IDS Orderable Qty</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTIDSPPIReport.aspx" class="linknor_dropdown1">IDS
                                      Order [PPI] Tracker</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptIDSISQOrderableQty.aspx"
                                      class="linknor_dropdown1">IDS ISQ Orderable Qty [DL16]</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptPHGPReport.aspx"
                                      class="linknor_dropdownIntermediate">PH GP Report</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptPOTracker.aspx" class="linknor_dropdown1">PO
                                      Tracker Report</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Trackers</button>
                          <div class="dropdown-content">
                            <table cellspacing="0" cellpadding="0" id="nav_table" width="270">
                              <tbody>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptTracker.aspx"
                                      class="linknor_dropdown1">Procurement - Logistic Tracker</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptPromotionTracker.aspx"
                                      class="linknor_dropdown1">Promotion Tracker</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptTOTITracker.aspx" class="linknor_dropdown1">TO/TI
                                      Tracker</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptTRTracker.aspx" class="linknor_dropdown1">TR
                                      Tracker</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptISQTrackerOnExpiry.aspx"
                                      class="linknor_dropdownIntermediate">ISQ Tracker On Expiry</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTPromoTrackerMRStore.aspx"
                                      class="linknor_dropdown1">Promo Tracker - MR/Store</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTPromoTrackerStoreSKU.aspx"
                                      class="linknor_dropdown1">Promo Tracker Store SKU</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptFedexTracker.aspx"
                                      class="linknor_dropdown1">Logistics Tracker</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RptFreezeStockAnalaysis.aspx"
                                      class="linknor_dropdown1">Freeze Stock Analysis</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="RPTPromoTrackerSummary.aspx"
                                      class="linknor_dropdownIntermediate">Promo Tracker Summary</a></td>
                                </tr>
                                <tr>
                                  <td class="second">&nbsp;<a href="rptPCOrderTITracker.aspx"
                                      class="linknor_dropdown1">PC Order TI Tracker</a></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Dashboard</button>
                          <div class="dropdown-content">

                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">GST Reports</button>
                          <div class="dropdown-content">

                          </div>
                        </div>
                      </td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button class="dropbtn">Sign Out</button>
                          <div class="dropdown-content">

                          </div>
                        </div>
                      </td>
                      <td width=10>
                    </tr>
                  </table>

                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>

  <footer style="text-align: center; height: 20px; font-size: 12px;" class="footer fixed-bottom flex-md-nowrap shadow">
    <!-- <hr align="center" width="30%" style="border-color: gray;"> -->
    <p>Copyright © 2013 Fabindia</p>
  </footer>

</form>