.addressLine1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-large;
    color: rgb(123, 38, 45);
}

.addressLine2 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: small;
    color: rgb(123, 38, 45);
}