<form name="Form1">
  <!--- Header -->

  <table id="Table1" width="100%">
    <tbody>
      <tr>
        <td width="100%">
          <table width="100%" align="left" id="Table2">
            <tbody>
              <tr>
                <td width="284" align="right">
                  <div align="center">
                    <img id="PageHeader2_Image1" src="assets/IMAGES/fabindia_logo.jpg" border="0" />
                  </div>
                </td>
                <td align="center" style="line-height:10px; padding-top:10px; padding-bottom:2px">
                  <span id="PageHeader1_lblStoreInfo">
                    <span id="PageHeader2_lblStoreInfo" style="height:21px;">
                      <span class="addressLine1">Fabindia Overseas Pvt.
                        Ltd.</span>
                      <span class="addressLine2">
                        <br> C-40, Okhla Industrial Area, Phase - II, <br> New Delhi, Delhi - 110020,India.</span>
                    </span>
                  </span>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="2">
                  <table  style="border-color:grey;" border="2" width="100%">
                    <tr>
                      <td width=22px></td>
                      <td bgcolor="#993333" align="center">
                        <div class="dropdown">
                          <button routerLinkActive="active" routerLink="home" class="dropbtn">Home (FC4)</button>
                        </div>
                      </td>
                      <ng-container *ngFor="let menu of MenuList">
                        <td bgcolor="#993333" align="center" *ngIf="menu.ParentId===0">
                          <!-- for Menu -->
                          <div class="dropdown">
                            <button routerLinkActive="active" (mouseover)="abc(menu.MenuId);"
                              routerLink={{menu.MenuCaption}} class="dropbtn">{{menu.MenuCaption}}</button>

                            <!-- for SubMenu -->
                            <!-- <ng-container *ngFor="let subMenu of MenuList"> -->
                            <div class="dropdown-content">
                              <table cellspacing="0" cellpadding="0" id="nav_table" width="207">
                                <tbody>
                                  <tr *ngFor="let subMenu of MenuList">
                                    <td class="second" *ngIf="subMenu.ParentId===prmMenuId">
                                      <!-- <a href="RptProductList.aspx" class="linknor_dropdown1">Product List </a> -->
                                      <!-- <a routerLinkActive="active" routerLink="filter" class="linknor_dropdown1">Product List </a> -->
                                      <a [routerLink]="['/filters', subMenu.MenuId]"
                                        class="linknor_dropdown1">{{subMenu.MenuCaption}} </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <!-- </ng-container> -->
                          </div>

                        </td>
                      </ng-container>
                      <td width=22px></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <router-outlet></router-outlet>

  <footer style="text-align: center; height: 20px; font-size: 12px;" class="footer fixed-bottom flex-md-nowrap shadow">
    <!-- <hr align="center" width="30%" style="border-color: gray;"> -->
    <p>Copyright © 2013 Fabindia</p>
  </footer>

</form>