.AllFilters {
    margin-top: -2px;
    margin-left: 2px;
    background-color: rgb(153, 51, 51);
    width: 170px;    
    max-width: 170px;    
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    text-align: start;
    font-variant: normal;
    color: White;
    font-family: Verdana;
    font-size: 8pt;
}

.menuFormat {
    width: 160px;    
    max-width: 160px;    
}

.popup {
    background-color: transparent;
    border: none;
    color: yellow;
    text-align: left;
}

.popup :hover {
    color:  rgb(153, 51, 51);
    cursor: pointer;
}

.modal-content{
    width: 1000px;
    margin-left: -94px;
}