<div class="AllFilters">

  <div class="Calendars">
    <label>From
      <input class="menuFormat" type="date">
    </label>

    <label>To
      <input class="menuFormat" type="date">
    </label>

    <label>Date
      <input class="menuFormat" type="date">
    </label>

    <label>Upto
      <input class="menuFormat" type="date">
    </label>
  </div>

  <div class="Dropdowns">
    <label>Seasonality
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Status
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Division
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Dept
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Subdept
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Category
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Compn
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Subcompn
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Aspect1
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Aspect2
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Aspect3
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Aspect4
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Color
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Size
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>State Name
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>From Month-Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>To Month-Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Search on
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>EDA - Month
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>EDA - Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Target - Month
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Target - Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>DL Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>DL Format
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>SKU Master Name
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Below %
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Above %
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Month
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Value or %
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Status Selection
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Employee Name
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Report View
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>PO Status
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Shipped Status
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Report Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Promotions
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

    <label>Source Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>

  </div>

  <div class="Popups">
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Promo/PH/Vendor Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Store/PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">MR/Store/PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Store Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Promo Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">MR Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">From Store/ DC/ MRW/ PH
      Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">To Store/ DC/ MRW/ PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">From PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Store Filter (POS Sale Only)</button>
  </div>

  <div class="Textboxes">
    <label>Long Description
      <input class="menuFormat" type="text">
    </label>

    <label>SKUID/ SKU Description
      <input class="menuFormat" type="text">
    </label>

    <label>SKU Description
      <input class="menuFormat" type="text">
    </label>

    <label>DL No/ PromoName/ Long Description
      <input class="menuFormat" type="text">
    </label>

    <label>DL No
      <input class="menuFormat" type="text">
    </label>

    <label>Search
      <input class="menuFormat" type="text">
    </label>

    <label>Till No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short TONo
      <input class="menuFormat" type="text">
    </label>

    <label>Short TINo
      <input class="menuFormat" type="text">
    </label>

    <label>Short SANO
      <input class="menuFormat" type="text">
    </label>

    <label>SKU ID/Desc And Customer Search
      <input class="menuFormat" type="text">
    </label>

    <label>Free Search TONo
      <input class="menuFormat" type="text">
    </label>

    <label>Short Inv. No.
      <input class="menuFormat" type="text">
    </label>

    <label>Exchange Long RRNO.
      <input class="menuFormat" type="text">
    </label>

    <label>FabConnect ID
      <input class="menuFormat" type="text">
    </label>

    <label>Gv No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short PO No.
      <input class="menuFormat" type="text">
    </label>

    <label>SKU Name
      <input class="menuFormat" type="text">
    </label>

    <label>Short GRN No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short GR No.
      <input class="menuFormat" type="text">
    </label>

    <label>PPINO
      <input class="menuFormat" type="text">
    </label>

    <label>SI OrderNO
      <input class="menuFormat" type="text">
    </label>

    <label>PO No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short TR No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short Source ID
      <input class="menuFormat" type="text">
    </label>

    <label>Free Search On SKU
      <input class="menuFormat" type="text">
    </label>

  </div>

  <div class="Submit">
    <label class="menuFormat">Export/ Print/ Screen</label>
    <label style="margin-left:10px; width:80px"><input name="exportAs" type="radio">Screen</label>
    <label style="width:80px"><input name="exportAs" type="radio">Print</label>
    <label style="margin-left:10px; width:80px"><input name="exportAs" type="radio">Excel</label>
    <label style="width:80px"><input name="exportAs" type="radio">CSV</label>
    <input style="color:#993333;background-color:#F0D9D9;font-family:Verdana;font-weight:bold;width:170px;"
      type="submit" value="Submit">
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>