<div class="AllFilters" *ngIf="HideAndShowFilters && HideAndShowFilters.length > 0">

  <div class="Calendars">
    <div *ngIf="FilterList[0].From===1">
    <label>From
      <input class="menuFormat" type="date">
    </label>
  </div>
  <div *ngIf="FilterList[0].To===1">
    <label>To
      <input class="menuFormat" type="date">
    </label>
</div>
<div *ngIf="FilterList[0].Date===1">
    <label>Date
      <input class="menuFormat" type="date">
    </label>
    </div>
    <div *ngIf="FilterList[0].Upto===1">
    <label>Upto
      <input class="menuFormat" type="date">
    </label>
   </div>
</div>
  <div class="Dropdowns">
      <div *ngIf="FilterList[0].Seasonality===1">
    <label>Seasonality
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
    </div>
    <div *ngIf="FilterList[0].Status===1">
    <label>Status
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
    </div>
    <div *ngIf="FilterList[0].Division===1">
    <label>Division
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
    </div>
    <div *ngIf="FilterList[0].Dept===1">
    <label>Dept
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].Subdept===1">
    <label>Subdept
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Category===1">
    <label>Category
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].Compn===1">
    <label>Compn
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Subcompn===1">
    <label>Subcompn
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
    </div>
    <div *ngIf="FilterList[0].Aspect1===1">
    <label>Aspect1
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Aspect2===1">
    <label>Aspect2
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Aspect3===1">
      <label>Aspect3
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Aspect4===1">
    <label>Aspect4
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
    <div *ngIf="FilterList[0].Color===1">
    <label>Color
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
    </div>
    <div *ngIf="FilterList[0].Size===1">
    <label>Size
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].State===1">
      <label>State Name
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].FromMonthYear===1">
    <label>From Month-Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].ToMonthYear===1">
    <label>To Month-Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Search===1">
    <label>Search on
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].EDAMonth===1">
    <label>EDA - Month
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].EDAYear===1">
    <label>EDA - Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].TargetMonth===1">
    <label>Target - Month
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].TargetYear===1">
    <label>Target - Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].DLType===1">
    <label>DL Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].DLFormat===1">
    <label>DL Format
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].SKUMasterName===1">
    <label>SKU Master Name
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].BelowPercent===1">
    <label>Below %
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].AbovePercent===1">
    <label>Above %
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Month===1">
    <label>Month
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Year===1">
    <label>Year
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Type===1">
    <label>Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].ValueOrPercent===1">
    <label>Value or %
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].StatusSelection===1">
    <label>Status Selection
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].EmployeeName===1">
    <label>Employee Name
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].ReportView===1">
    <label>Report View
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].POStatus===1">
    <label>PO Status
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].ShippedStatus===1">
    <label>Shipped Status
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].ReportType===1">
    <label>Report Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
<div *ngIf="FilterList[0].Promotions===1">
    <label>Promotions
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
  </div>
  <div *ngIf="FilterList[0].SourceType===1">
    <label>Source Type
      <select class="menuFormat">
        <option>Select</option>
      </select>
    </label>
</div>
  </div>

  <div class="Popups">
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Promo/PH/Vendor Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Store/PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">MR/Store/PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Store Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Promo Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">MR Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">From Store/ DC/ MRW/ PH
      Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">To Store/ DC/ MRW/ PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">From PH Filter</button>
    <button class="popup" type="button" data-toggle="modal" data-target="#myModal">Store Filter (POS Sale Only)</button>
  </div>

  <div class="Textboxes">
      <div *ngIf="FilterList[0].LongDescription===1">
    <label>Long Description
      <input class="menuFormat" type="text">
    </label>
      </div>
      <div *ngIf="FilterList[0].SKUIdDescription===1">
    <label>SKUID/ SKU Description
      <input class="menuFormat" type="text">
    </label>
      </div>
      <div *ngIf="FilterList[0].SKUDescription===1">
    <label>SKU Description
      <input class="menuFormat" type="text">
    </label>
      </div>
    <label>DL No/ PromoName/ Long Description
      <input class="menuFormat" type="text">
    </label>

    <label>DL No
      <input class="menuFormat" type="text">
    </label>

    <label>Search
      <input class="menuFormat" type="text">
    </label>

    <label>Till No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short TONo
      <input class="menuFormat" type="text">
    </label>

    <label>Short TINo
      <input class="menuFormat" type="text">
    </label>

    <label>Short SANO
      <input class="menuFormat" type="text">
    </label>

    <label>SKU ID/Desc And Customer Search
      <input class="menuFormat" type="text">
    </label>

    <label>Free Search TONo
      <input class="menuFormat" type="text">
    </label>

    <label>Short Inv. No.
      <input class="menuFormat" type="text">
    </label>

    <label>Exchange Long RRNO.
      <input class="menuFormat" type="text">
    </label>

    <label>FabConnect ID
      <input class="menuFormat" type="text">
    </label>

    <label>Gv No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short PO No.
      <input class="menuFormat" type="text">
    </label>

    <label>SKU Name
      <input class="menuFormat" type="text">
    </label>

    <label>Short GRN No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short GR No.
      <input class="menuFormat" type="text">
    </label>

    <label>PPINO
      <input class="menuFormat" type="text">
    </label>

    <label>SI OrderNO
      <input class="menuFormat" type="text">
    </label>

    <label>PO No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short TR No.
      <input class="menuFormat" type="text">
    </label>

    <label>Short Source ID
      <input class="menuFormat" type="text">
    </label>

    <label>Free Search On SKU
      <input class="menuFormat" type="text">
    </label>

  </div>

  <div class="Submit">
    <label class="menuFormat">Export/ Print/ Screen</label>
    <label style="margin-left:10px; width:80px"><input name="exportAs" type="radio">Screen</label>
    <label style="width:80px"><input name="exportAs" type="radio">Print</label>
    <label style="margin-left:10px; width:80px"><input name="exportAs" type="radio">Excel</label>
    <label style="width:80px"><input name="exportAs" type="radio">CSV</label>
    <input style="color:#993333;background-color:#F0D9D9;font-family:Verdana;font-weight:bold;width:170px;"
      type="submit" value="Submit">
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>