/* You can add global styles to this file, and also import other style files */

.error-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ff0000;
    line-height: 125%;
    font-weight: bold;
}

body {
    margin: 0px;
}

.footer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.zed {
    z-index: 5;
}

.body-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #686663;
    line-height: 125%;
    overflow: hidden;
}

.error-text {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #ff0000;
    line-height: 125%;
    font-weight: bold;
}

.txt {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #686663;
    line-height: 125%;
}

.txtPrint {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: Black;
}